body, html {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

.horizontal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 100%;
    box-sizing: border-box;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 100%;
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background: linear-gradient(45deg, rgb(255, 149, 0), rgb(255, 238, 0));
    padding: 16px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    color: black;
}

form {
    display: flex;
    width: 100%;
    max-width: 350px;
    flex-direction: column;
    gap: 8px;
}

input {
    height: 30px;
    border: none;
    border-radius: 16px;
    padding-left: 8px;
}

textarea {
    height: 60px;
    border: none;
    border-radius: 16px;
    padding: 8px;
    resize: none;
}

button {
    border: none;
    height: 30px;
    border-radius: 16px;
    background-color: rgb(238, 238, 238);
    color: black;
    cursor: pointer;
    min-width: 150px;
}

.btn-group {
    display: flex;
    gap: 8px;
    align-items: center;
}